{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "bugfixes": true,
        "debug": true,
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {}
    ],
    [
      "@babel/plugin-transform-arrow-functions",
      {}
    ],
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "allowTopLevelThis": true
      }
    ],
    [
      "add-module-exports",
      {}
    ]
  ],
  "sourceMaps": "inline",
  "env": {}
}