{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "globals": {
        "Float32Array": true,
        "Uint32Array": true,
        "Promise": true,
        "Uint8Array": true,
        "ArrayBuffer": true,
        "__VERSION__": true,
        "options": true,
        "mangle": true,
        "rename": true,
        "beautify": true,
        "mozilla_ast": true,
        //"console": false,
        //"window": false,
        "global": false
    },
    "env": {
        "browser": true,
        "commonjs": true
    },
    "rules": {
        "strict": 0,
        "semi": "error"
        //"quotes": ["error", "double"]
    },
    "overrides": [
        {
            "files": [
                "example/**/*.js",
                "spec/**/*.js"
            ],
            "rules": {
                "no-console": "off",
                "require-jsdoc": 0,
                "valid-jsdoc": 0
            }
        },
        {
            "files": [
                "*-test.js",
                "*.spec.js"
            ],
            "rules": {
                "no-unused-expressions": "off"
            }
        },
        {
            "files": [
                "dist/**/*.js"
            ],
            "rules": {
                "semi": "off"
            }
        }
    ]
}