{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "globals": {
        "Float32Array": true,
        "Uint32Array": true,
        "Promise": true,
        "Uint8Array": true,
        "ArrayBuffer": true,
        "options": true,
        "mangle": true,
        "rename": true,
        "beautify": true,
        "mozilla_ast": true,
        "global": false,
        "console": true,
        "module": true,
        "require": true
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true
    },
    "rules": {
        "strict": 0,
        "semi": "error",
        "no-use-before-define": 2, // http://eslint.org/docs/rules/no-use-before-define
        "no-alert": 1 // http://eslint.org/docs/rules/no-alert
        //"quotes": ["error", "double"]
    },
    "overrides": [
        {
            "files": [
                "example/**/*.js",
                "spec/**/*.js"
            ],
            "rules": {
                "no-console": "off",
                "require-jsdoc": 0,
                "valid-jsdoc": 0
            }
        },
        {
            "files": [
                "*-test.js",
                "*.spec.js"
            ],
            "rules": {
                "no-unused-expressions": "off"
            }
        },
        {
            "files": [
                "dist/**/*.js"
            ],
            "rules": {
                "semi": "off"
            }
        }
    ]
}